.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .todosList {
    width: 70%;
    padding: 10px;
    align-self: center;
    justify-self: center;
    height: 70vh;
    overflow-y: auto;
  }
}
